* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    background-color: #f2f3d9;
    font-family: Arial;
}

header {
    display: flex;
    background-color: #030027;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    margin-bottom: 40px;
}

header p {
    text-transform: uppercase;
    flex-shrink: 0;
}

h1 {
    margin-bottom: 10px;
}

ul {
    display: flex;
    list-style: none;
    flex-basis: 300px;
    flex-shrink: 1;
    justify-content: space-between;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

article {
    display: flex;
    background-color: #c16e70;
    padding: 10px;
    border-radius: 5px;
    flex-basis: 400px;
    height: 350px;
    align-items: flex-end;
    margin: 20px;
    overflow: hidden;
}