:root {
    --menu-color: #D84282;
}

div {
    position: relative;
    width: 40px;
    height: 10px;
    background-color: var(--menu-color);
}

div::before {
    content: "";
    display: block;
    position: absolute;
    top: 15px;
    width: 40px;
    height: 10px;
    background-color: var(--menu-color);
}

div::after{
    content: "";
    display: block;
    position: absolute;
    top: 30px;
    width: 40px;
    height: 10px;
    background-color: var(--menu-color);

}