div {
    width: 120px;
    height: 80px;
    background-color: black;
    border-radius: 10px;
    position: relative;
}

div::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 20px solid black;
    border-bottom: 13px solid transparent;
    position: absolute;
    left: -20px;
    top: 26px;
}