a,
a:link,
a:visited {
    font-family: helvetica, sans-serif;
    font-size: 30px;
    color: #D84282;
    text-decoration: none;
}

a::after {
    content: "";
    display: block;
    width: 0%;
    height: 3px;
    background-color: #D84282;
    transition: width .35s ease-in-out;
}

a:hover::after {
    /* alle andere properties worden behouden, we overschrijven alléén de width property */
    width: 100%;
}